
projects/vs2019/.vs/projects/v17/Browse.VC.db
projects/vs2019/.vs/projects/v17/HierarchyCache.v1.txt
projects/vs2019/.vs/projects/v17/fileList.bin
projects/vs2019/.vs/projects/v17/DocumentLayout.backup.json
projects/vs2019/.vs/projects/v17/Browse.VC.db-shm
/projects/vs2019/.vs/projects/v17
/projects/vs2019/.vs
projects/vs2019/.vs/projects/v17/Browse.VC.db
